@{
    ViewBag.Title = "Authenticate";
}

<h2 id="status">Locating Authentication Service ... </h2>
<p id="output" />

@section scripts{
<script>
    sessionStorage.setItem('bocUri', '@ViewBag.BoCApiUri');
    var authUri = sessionStorage.getItem('bocUri') + 'auth/?externalToken=@ViewBag.ICToken';
                  

    $(document).ready(function () {
        $('#status').text("Authenticating ... ");
        $('#output').text(authUri);

        sessionStorage.removeItem('authToken');

        $.getJSON(authUri)
         .done(function (data) {
             //$('#output').text(data["authToken"]);

             if (typeof (Storage) !== "undefined") {
                 sessionStorage.setItem('authToken', data['authToken']);
                 sessionStorage.setItem('userName', data['userName']);
                 sessionStorage.setItem('userSchoolID', data['userSchoolID']);
                 window.location.assign("@Url.Action("List", "Incident")");
             } else {
                 $('#status').text("Sorry, your browser does not support web storage.  Access denied.");
             }
         })
         .fail(function (jqXHR, textStatus, err) {
             //$('#output').text('Error: ' + err);
             $('#status').text("Access denied");
         });
    });

</script>
}
