@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>mock IC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="background-color:#f26126; height:50px;">
            <div class="col-xs-12 text-center">[IC campusHeader]</div>
        </div>
        <div class="row" style="background-color:#eee; height:30px;">
            <div class="col-xs-12 text-center">[IC toolbar]</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2" style="background-color:#92c83e; height:2000px;">
                <br /><br />[IC sidebar]<br /><br /><br />
                <a href="@Url.Action("Authenticate", "Incident", new { authURI = @"http://localhost:56743/api/auth", campus = "91789b56a8b348481c39acfbdec1f23586e43dd17ff169a7fe7e5027d07a5791"})" target="ICWorkspace">Authenticate as District Admin</a><br /><br />
                <a href="@Url.Action("Authenticate", "Incident", new { authURI = @"http://localhost:56743/api/auth", campus = "86e43dd17ff169a79ed7f0f0d55e14e6f8209283b7abd4d4492362be0432ead25c4d1e977b9c374df07fbc9e43d2521e"})" target="ICWorkspace">Authenticate as Pricipal/AP</a><br /><br />
                <a href="@Url.Action("Authenticate", "Incident", new { authURI = @"http://localhost:56743/api/auth", campus = "8fb2abe4286f90658f983f50285adbff41c53c90a1808b01a10f688ae015a7d33e3131d93aa449da0cf41dea825626745c9c2f1defc1be2502448eb3f8002b9d"})" target="ICWorkspace">Authenticate as IC user (non-Admin)</a><br /><br />
                <a href="@Url.Action("Authenticate", "Incident", new { authURI = @"http://localhost:56743/api/auth", campus = "91789b56a8b34848f15fb39b5fce203c"})" target="ICWorkspace">Authenticate as non-IC user</a><br /><br />
            </div>
            <div class="col-xs-10"> 
                <iframe name="ICWorkspace" src="" height="2000px" width="100%" scrolling="no" style="border:0;"></iframe>
            </div>
        </div>
    </div>
</body>
</html>
